#map_canvas {
	border: 1px solid #999;
	height: 400px;
	width: 90%;    
	
/*	background: red;*/
	}
	
.chunkybox {
	border: 1px solid #999;
	margin: 7px;
	padding: 10px;
/*	-moz-box-shadow: 3px 3px 4px #9c3919;
	-webkit-box-shadow: 3px 3px 4px #9c3919;
	box-shadow: 3px 3px 4px #9c3919;     */
	background-color: #dac2aa;
}

.boxtitle {
	background: #d84a40;
/*	height: 80px;   */
}
	      
#search_field {
	font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.review {
	font-size: 18px;
}       

.icon2 {
	float:left;
/*	margin: 10px;*/  
	margin-right: 10px;
}

#reviews_list {
	margin-left: 15px;
	margin-bottom: 30px;
}