.chunkybox
  %h2
    = image_tag "icons/info.png"
    Site info
  %div
    Size: #{@place.reported_area} km
    %sup 2
  %div
    Designation: #{@place.designation}
  %div
    Country: #{@place.country.long_name}                      