.chunkybox
  %h2
    = image_tag "icons/map.png", :title => "map"
    Here's a nifty map
  %div.em might have to zoom!

  #map_canvas
    / = logger.info 'places/_map'
    %script{:type => 'text/javascript'}
      :plain
        function initialize() {
          var myLatLng = new google.maps.LatLng(
          #{@poly_centre});
          var myOptions = {
            zoom: 7,
            center: myLatLng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
          };

          var bermudaTriangle;

          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);

        	var paCoords = [
        	#{@poly_string} 
        	];

          protectedArea = new google.maps.Polygon({
            paths: paCoords,
            strokeColor: "#ffae3b",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#ffae3b",
            fillOpacity: 0.25
          });

          protectedArea.setMap(map);

        }
