<div class="grid_9">   
	<div class="chunkybox"> 
		<h2>
			<%= image_tag "icons/search.png", :title => "search results" %>
			Search results
		</h2>
		<% @results.each do |result| %>
			<div>
				<%= link_to (image_tag "icons/plus_sm.png", :title => "plus"), "/reviews/new/#{result[0]}" %>
				<%= link_to "New review for #{result[1]}", "/reviews/new/#{result[0]}" %>
			</div>
		<% end %>

		<em><p>Or did you mean .... ?</p></em>
	</div>
</div>
